body {
    background-color: #F0F0F0;
    max-width: 100%;
    width: 100%;
}


.generale{
    width: 100%;
    background-color: #F0F0F0;
    font-family: 'EB Garamond', serif;
}

.testa {
     width:100%;
    position: fixed;
    background-color:#F0F0F0; 
    align-content: center;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 9999;
}

.link{
    display: flex;
    flex-direction: row;
    padding-right: 2%;
    padding-left: 2%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: auto;
}

a.link:hover{ 
    color: #3fa535;
}

.container_title {
    font-family: 'EB Garamond', serif;
    padding-top: 25%;
    padding-bottom: 25%;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lfdc {
    font-size: 120px;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 5%;
}



.def {
    font-size: 20px;
    line-height: 25px;
}

.testo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'EB Garamond', serif;
    font-size: 28px;
}

.title {
    font-size: 40px;
    padding-top: 15%;
    padding-bottom: 15%;
    font-style: normal;
    font-weight: bold;
}

.intro{
    font-size: 28px;
    font-style: italic;
    line-height: 25px;
    letter-spacing:0.5px;
}

.cit {
    font-family: 'Open Sans', sans-serif; 
    font-style: italic;
    font-size: 24px;
    color: #3fa535;
}

.scritto {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 28px;
    line-height: 25px;
    letter-spacing:0.5px;
}

.jpg {
   
    justify-content: center;
    align-items: center;
    
}

.descrizione {
    padding-left: 25%;
    padding-bottom: 10%;
    padding-top: 2%;
    font-size:24px;
}

.foot{
    
    width:100%;
    background-color:#F0F0F0; 
    align-content: center;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 8%;
    z-index: 9999;
}



.cattivo{
    padding-right: 2%;
    padding-left: 2%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a.cattivo:hover{ 
    color: #3fa535;
}


@media only screen and (max-width: 900px) {
    
    .testa{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
}
    
    .lfdc {
        font-size: 60px;
        padding-left: 5%;
}
    
    .def {
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
}
    
    .testo {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5%;
        padding-right: 5%;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
}

    .title {
        font-size: 26px;
        padding-top: 15%;
        padding-bottom: 15%;
        font-style: normal;
        font-weight: bold;
}

    .cit {
        font-family: 'Open Sans', sans-serif; 
        font-style: italic;
        font-size: 20px;
        color: #3fa535;
}

    .scritto {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 20px;  
}
    
    .jpg {
   
        justify-content: center;
        align-items: center;
        max-width: 500px;
    
}

    .descrizione {
        padding-left: 5%;
        padding-bottom: 10%;
        padding-top: 2%;
        font-size:14px;
}